<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>

    <body>
        <h1>Register</h1>

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/list/">Return to the homepage.</a><br />
        {% else %}
        Rango says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/list/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            
            {{ user_form.as_p }}
            

          
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>